.displayTable {
  min-width: 100%;
  border-bottom: solid var(--accent) 1px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: lightgray 0 0 10px;
}

.displayTable thead tr {
  text-align: left;
  background-color: var(--accent);
  color: white;
  border-radius: 5px;
}

.displayTable th,
.displayTable td {
  padding: 3%;
}
.displayTable tbody tr {
  transition-property: opacity;
  transition-duration: 0.25s;
}

.iconButton {
  margin: 2px;
}

.iconButton i {
  color: var(--accent);
  border-radius: 5px;
  border: solid transparent 2px;
  transition-property: border-color;
  transition-duration: 0.25s;
}
.iconButton i:hover {
  border-color: var(--accent);
}
