.displayTable {
  min-width: 100%;
  border-bottom: solid var(--accent) 1px;
  border-radius: 5px;
  overflow: auto;
  box-shadow: lightgray 0 0 10px;
}

.displayTable thead {
  text-align: left;
  background-color: var(--accent);
  color: white;
  border-radius: 5px;
}

.displayTable th,
.displayTable td {
  padding: 2%;
  width: 20%; 
  border-bottom: solid lightgray 1px;
}

.displayTable tbody tr {
  animation-name: spawnAnim;
  animation-duration: 0.25s;
}

@keyframes spawnAnim {
  from {
    opacity: 0;
    transform: scaleY(0) translateY(-50%);
  }
  to {
    transform: scaleY(1) translateY(0);
    opacity: 1;
  }
}

.iconButton {
  margin: 2px;
}

.iconButton i {
  color: var(--accent);
  border-radius: 5px;
  border: solid transparent 2px;
  transition-property: border-color;
  transition-duration: 0.25s;
}
.iconButton i:hover {
  border-color: var(--accent);
}
