@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(231, 231, 231);
  --foreground: #171717;
  --accent: #d73253;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: row;

  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.formBody {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 5%;
}

.inputLabel {
  display: flex;
  flex-direction: column;
  min-width: 30%;
  flex: 1;
}

.inputLabel input {
  appearance: textfield;
  outline: none;

  padding: 5px;
  border: solid lightgray 1px;
  border-radius: 5px;
  transition-duration: 0.25s;
  transition-property: border-color;
  padding: 1%;
  height: 100%;
}

.inputLabel select {
  appearance: none;
  background-color: transparent;
  border: solid lightgray 1px;
  border-radius: 5px;
  height: 100%;
}

.inputLabel input:focus {
  border-color: var(--accent);
}

.inputLabel label {
  font-weight: bold;
  color: rgb(80, 80, 80);
}

.totalPrice {
  display: flex;
  margin-top: 1%;
  justify-content: space-between;
  margin-bottom: 5%;
}

.totalPrice span {
  background-color: var(--accent);
  font-size: x-large;
  padding: 5px;
  border-radius: 5px;
  color: white;
}
