@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(231, 231, 231);
  --foreground: #171717;
  --accent: #d73253;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: row;

  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.displayTable {
  min-width: 100%;
  border-bottom: solid var(--accent) 1px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: lightgray 0 0 10px;
}

.displayTable thead tr {
  text-align: left;
  background-color: var(--accent);
  color: white;
  border-radius: 5px;
}

.displayTable th,
.displayTable td {
  padding: 3%;
}

.iconButton {
  margin: 2px;
}

.iconButton i {
  color: var(--accent);
  border-radius: 5px;
  border: solid transparent 2px;
  transition-property: border-color;
  transition-duration: 0.25s;
}
.iconButton i:hover {
  border-color: var(--accent);
}

.iconTextButton {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  width: 7em;
  color: var(--accent);

  border: var(--accent) solid 1px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px lightgray;
  padding: 10px;
  transition-duration: .25s;
  transition-property: color background-color;
}

.iconTextButton:hover {
  background-color: var(--accent);
  color: white;
}
